.body{
    background-color: rgba(223, 255, 223, 0.551);
    width: 70%;
    min-width: 500px;
    margin: 5% 15%;
    padding: 2%;
}

.error{
    text-align: center;
    font-size: larger;
    background-color: rgba(223, 255, 223, 0.551);
    border: solid #666666;
    border-radius: 15px;
}

.vehicleCard{
    max-width: 900px;
    min-width: 400px;
    margin: 25px;
    padding: 10px;
    background-color: white;
    border: 1px solid #CCC;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;

    display: flex;
    flex-direction: row;
}
.vehicleCard:hover{
    background-color: rgb(248, 248, 248);
    cursor: pointer;
    transform: scale(1.05);
}

.cardBody{
    padding: 0% 10%;
    border-left: solid 1px rgb(209, 209, 209);
}

.image-slider{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-right: 5px;
}
.image-slider img{
    width: 100%;
    height: 300px;
    position: relative;
    object-fit: cover;
}

.arrow-button{
    width: 40px;
    height: 40px;
    background-color: #68686856;
    color: #000000;
    border: none;
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding-top: 5px;
    display: flex;
    justify-content: center;
}
.arrow-button:hover{
    color: #ffffff;
    background-color: #a4a4a451;
}
.arrow-left{
    left: 0px;
}
.arrow-right{
    right: 0px;
}

#exit{
    background-color: #68686856;
}
#exit:hover{
    cursor: pointer;
    background-color: #a4a4a451;
}